<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diary</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <body class="body-teacher">
        <header class="container">
            <img class="sett-logo" id="sett-logo" src="img/logo/hw-logo-standart.svg" alt="Settings Logo">
            <nav>
                <ul>
                    <button class="button1">
                        <ul class="date-teacher">
                            <li class="time">15 Января 2025</li>
                            <li class="lowtext">8 уроков</li>
                            <li class="lowtext">4 уведомления</li>
                        </ul>
                        
                    </button>
                    <button class="button3">
                        <li class="btn"><a href="homework.html">Домашнее задание</a></li>
                    </button>
                    <button class="button3">
                        <li class="btn"><a href="marks.html">Оценки</a></li>
                    </button>
                    <button class="button3">
                        <li class="btn"><a href="notifications.html">Уведомления</a></li>
                    </button>
                        <a href="../" class="settings-link">
                            <img id="sett-icon" class="sett-icon" src="img/settings.svg" alt="Settings logo">
                        </a>
                </ul>
            </nav>
        </header>

            
    </body>
        
</body>